@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Notebook.Web.Pages.IndexModel

<head>
    <title>Записная книжка</title>
</head>

<h2 style="margin-left:50px;">Записная книжка</h2>

<body style="margin-left:50px;">
    <p>
        <table cellpadding="7" border="1">
            
            <tr style="margin-left:100px;" bgcolor="#9ACD32">
                <td style ="margin-left:20px;"><strong>ID</strong></td>
                <td><strong>Фамилия</strong></td>
                <td><strong>Имя</strong></td>
                <td><strong>Отчество</strong></td>
            </tr>
            @foreach (var person in Model.list)
            {
                <tr bgcolor="#F0FFF0">
                    <td><strong><a asp-page="Person" asp-route-id="@person.Id">@person.Id</a></strong></td>
                    <td><strong>@person.LastName</strong></td>
                    <td><strong>@person.FirstName</strong></td>
                    <td><strong>@person.MiddleName</strong></td>
                </tr>
            }
        </table>
    </p>
</body>